html, body
{
	background-color:black;
	height: 98%;
	width: 98%;
}


h3 {color:white;
	height: 15%;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	border: 1px solid #000000;
	width: 600px;
	height: 400px;
	margin: auto;
	background-image: url(http://www.casualgirlgamer.com/assets/images/top-10-point-and-click-games/daymare.jpg);
	background-size: 600px 400px;
}




